/*Pie de pagina **************************************************************************/

.pie{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 12em;
    background-color: black;
}